@define-color palette-dark-1 #14171d;
@define-color palette-dark-2 #1f1f26;
@define-color palette-dark-3 #393B44;
@define-color palette-white #f2f1ef;
@define-color palette-red #c4746e;

window * {
  font-family: "Berkeley Mono";
  font-size: 14px;
  border: none;
  border-radius: 4px;
  color: @palette-white;
}

button label {
  all: unset;
}

window#waybar {
  background: @palette-dark-2;
  border-radius: 0px;
}

#memory,
#cpu,
#network,
#battery,
#clock,
#bluetooth,
#clock-date,
#custom-system,
#custom-github,
#custom-tmux,
#mode,
#window,
#workspaces button
{
  padding: 0 8px;
  margin: 2px 4px;
  background: @palette-dark-1;
}


#custom-system,
#battery span,
#workspaces#battery-icon,
#bluetooth {
  font-size: 16px;
}

#mode {
  color: @palette-red;
}

#workspaces button {
  border-bottom: 3px solid @palette-dark-3;
}

#workspaces button.focused {
  color: @palette-dark-1;
  background: @palette-white;
}
#workspaces button.urgent {
  border-bottom: 3px solid @palette-red;
}
#workspaces button.persistent {
  color: @palette-dark-3;
}
